body {
    background-color: #E0F4F5;
    box-sizing: border-box;
    overflow-x: hidden;
}


.leftleafcontainer {
    position: relative;
    width: 100vw;
}

.leftleaf {
    position: absolute;
    top: -90px;
    left: -110px;
}

.rightleaf {
    position: absolute;
    top: -90px;
    right: -110px;
}

.formContanier {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3.5%;

    .plus-btn-container{
        width: 2vw;
        height: 1vh;
        margin-top: 3.5%;
    }

    .plus-btn{
        border-radius: 50%;
        border: 1px solid rgb(110, 110, 110);
        background-color: #FFFFFF;
        cursor: pointer;
    }

    .plus-btn-svg{
        width: 2vw;
        height: 4vh;
    }
}

.topContainer {
    width: 95vw;
    display: flex;
    justify-content: space-around;

}

.topButtonsContainer {
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.topLeftBtn {
    display: flex;
    width: 11%;
    justify-content: space-around;
}

.showQuizBtn {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #0C32494D;
    border-radius: 10px;
    text-align: center;
    font: normal normal normal 14px/20px Rubik;
    color: #378381;
    opacity: 1;
    width: 10vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: 0px;
}

.ShowQuizSvg {
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}

.linkbtn {
    background: #378381;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.linkBtnSvg {
    opacity: 1;
    width: 1vw;
    height: 1.5vh;
}

.saveBtn {
    background: #378381;
    border: none;
    width: 7vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FFFFFF;
    border-radius: 10px;

}

.saveBtnSvg {
    width: 1vw;
    height: 1.5vh;
}

.quizHeaderContainer {
    background-color: #FFFFFF;
    margin-top: 2%;
    width: 58vw;
    height: 20vh;
    border: 2px solid #0C3249;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.quizHeaderImage {
    background-color: rgb(211, 209, 209);
    width: 30%;
    height: 80%;
    margin-right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectImageQuizSvg {
    width: 50%;
    height: 50%;
}

.titleHeaderContainer{
    margin-right: 5%;
}

.addQutionsContainer{
    margin-top: 3%;
    background-color: #FFFFFF;
    width: 58vw;
    border: 2px solid #0C3249;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .add-answer-btn{
        background-color: white;
        width: 21vw;
        margin-top: 2%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: none;
        text-decoration: underline;
        margin-right:0.35vw;
        color: #0C3249;
        opacity: 0.5;
        text-align: right;
        letter-spacing: 0px;




        
    }

    .add-answer-svg{
        width: 1vw;
        margin-left: 0.8vw;

    }

    .gf{
        display: flex;
        justify-content: flex-end;
    }


    .add-answer-contanier{
        margin-left: 6px;
    }

    .answer-container{
        margin-right: 0.5vw;
    }

    .footer-container-questions-btn{
        display: flex;
        justify-content: flex-end;
        height: 7vh;
        margin-left: 3%;
        
    }

    .duplicate-btn{
        background-color: white;
        border: none;
        margin-left: 0.5rem;
        
    }

    .trash-btn{
        background-color: white;
        border: none;
    }

    .hr-line{
        width: 100%;
        border: 1px solid #0C3249;
        opacity: 0.1;
        margin-top: 1vw;
    }

    .duplicate-svg{
        width: 1.5vw;
    }

    .trash-svg{
        width: 1.5vw;
    }

    .question-input{
        height: 2vh;
    }

    

    
}

.darganddropContainer{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.quizQuestionsContainer{
    width: 98%;
    display: flex;
    flex-direction: column;
    
}

.quizQuestions{
    display: flex;
    margin-top: 2%;
    margin-right: 2%;

    p{
        font-size: 0.7rem;
    }
}

.selectImageQutionsSvg{
    margin-right: 1.5vw;
    width: 1.4vw;
}


.iconBtnSvg{
    width: 1vh;
    display: flex;
}

.checkboxesContanier{
    margin-top: 3%;
    display: flex;

    .MuiInputBase-root{
        font-size: 0.7rem   ;
    }
}

.checkboxSvg{
    display: flex;
    align-items: center;
    margin-top: 1rem;

    .muirtl-j204z7-MuiFormControlLabel-root {
        margin-left: 0px;
    }

    .MuiSvgIcon-root {
        height: 0.6em;
    }

}

.textFieldContainer{
    margin-right: 3%;
}

.slectImageSvgForQuestions{
    width: 1.4vw;
    margin-right: 2vw;
    
}

.trashSvgForQuestions{
    width: 1.4vw;
    margin-right: 1.3vw;
}


.readyQuestionsContanier{
    background-color: #FFFFFF;
    margin-top: 2%;
    width: 58vw;
    border: 2px solid #0C3249;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .answer-and-qeustions-container{
        width: 95%;
    }

    .MuiSvgIcon-root{
        height: 0.6em;
    }

    .question-contanier{
        width:28%;
        display: flex;
        justify-content: center;

    }

    .radio-ready-Contanier{
        display: flex;
        flex-direction: column;
    }

    .MuiFormControlLabel-root	{
        margin-right: 0px;
    }

    .MuiButtonBase-root-MuiRadio-root{
        padding-right: 0;
    }

    
}

.width{
    width: 25vw;
}