$primaryColor: #0C3249;

body {
    font-size: 1.2rem;
}

.background-container {
    box-sizing: border-box;
    background-color: #E0F4F5;
    position: relative;
    overflow: hidden;

    #left-leaf {
        position: absolute;
        left: -5vw;
        top: -7vh;
        z-index: 1;
        width: 14vw;
    }

    #right-leaf {
        position: absolute;
        right: -5vw;
        top: -7vh;
        z-index: 1;
        width: 14vw;
    }

    .comp-children-container {
        height: 73vh;
        width: 68.75vw;
        margin: 5vh auto;
        border: 3.5px solid $primaryColor;
        border-radius: 10px;
        background-color: white;
    }

}

.background-container-phone {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    height: 100vh;
}
#bottom-leaf {
    position: absolute;
    left: -15vw;
    bottom: -10vh;
    width: 50vw;
}