.error-div{
    padding-top: 16vh;
    text-align: center;
    .error-span{
        font-size: 13vmax;
        color: #0C3249;
        opacity: 70%;
        font-weight: bolder;
    }
    .error-monkey{
        width: 8vw;
    }
    .error-descrip{
        text-align: center;
        position: relative;
        bottom: 4vh;
        font-size: 2vmax;
        color: #0C3249;
        opacity: 70%;
        font-weight: bolder;
    }
}