.error404Div{
    padding-top: 16vh;
    text-align: center;
    .span4{
        font-size: 13vmax;
        color: #0C3249;
        opacity: 70%;
        font-weight: bolder;
    }
    img{
        width: 8vw;
    }
    h2{
        text-align: center;
        position: relative;
        bottom: 4vh;
        font-size: 2vmax;
        color: #0C3249;
        opacity: 70%;
        font-weight: bolder;
    }
}