* {
    margin: 0%;
}

.login {
    padding-top: 6vh;
    margin: 0%;
    box-sizing: border-box;


    h1 {
        margin-right: 5%;
        font-size: 4vmax;
        margin-bottom: 1%;
    }

    .descripEnter {
        margin-right: 5%;
        font-weight: 600;
        font-size: 2vmax;
        margin-bottom: 3%;
    }


    .entranceContainerDiv {
        height: 32vh;
        margin-right: 5%;
        display: grid;
        grid-template-areas:
            "a b";
        margin-bottom: 5%;
        margin-left: 5%;
    }

    .monkeyEnterPic {
        grid-area: b;
        text-align: center;

        img {
            height: 44vh;
            width: 19.5vw;
            position: relative;
            top: -8vh;
        }
    }

    .loginForm {
        grid-area: a;

        input {
            width: 25vw;
            height: 4.5vh;
            margin-bottom: 5%;
            border: 0.2px solid #0C32497A;
            background-color: #F4F6F7;
            font-size: 1.3vmax;
        }

        p {
            font-size: 1.3vmax;
        }

        button {
            height: 6vh;
            width: 25.4vw;
            font-size: 1.6vmax;
            margin-top: 2%;
            margin-bottom: 4%;
        }

        .toRegisterLink {
            width: 25vw;
            text-align: end;
            font-size: 1.1vmax;

            a:link {
                text-decoration: none;
                color: #216361;
            }


            a:visited {
                text-decoration: none;
                color: #1c0e97;
            }


            a:hover {
                text-decoration: none;
                color: #10c019;
                background-color: rgb(216, 213, 213);
            }


            a:active {
                text-decoration: none;
                color: #216361;
            }

        }

        .regErrDiv {
            margin-top: 1%;
            font-size: 1.1vmax;
            color: red;
            font-weight: bolder;
        }

    }
}


// #tamplete for mobile includes the frame for the login/login/entrance-page

.loginMobile {
    height: 100vh;
    border-radius: 35px;
    outline: 4px solid #0C3249;
    outline-offset: -25px;
    box-sizing: border-box;
    text-align: center;
    overflow-x: hidden;


    .leavesEnterance {
        position: absolute;
        right: -70px;
        top: -55px;
        height: 156px;
        width: 172px;
    }

    .monkeyEnterPic {
        overflow-x: hidden;
        overflow-y: hidden;
        position: absolute;
        left: 0px;
        bottom: 0px;
        height: 225px;
        width: 250px;

        img {
            position: relative;
            bottom: -18px;
            left: -11px;
            width: 300px;
            height: 266px;
            rotate: 10deg;
        }
    }

    .loginForm {
        div {
            margin-right: calc((100vw - 228px) / 2);
            text-align: right;
        }

        input {
            width: 220px;
            height: 30px;
            margin-bottom: 2vh;
            border: 0.2px solid #0C32497A;
            background-color: #F4F6F7;
            font-size: 14px;
        }

        button {
            width: 228px;
            height: 40px;
            margin-bottom: 8px;
            font-size: 26px;
            margin-top: 1vh;
        }

        .regErrDiv {
            width: 228px;
            margin-top: 1%;
            font-size: 14px;
            color: red;
            font-weight: bolder;
        }

        a:link {
            text-decoration: none;
            color: #216361;
        }


        a:visited {
            text-decoration: none;
            color: #1c0e97;
        }


        a:hover {
            text-decoration: none;
            color: #10c019;
            background-color: rgb(190, 189, 189);
        }


        a:active {
            text-decoration: none;
            color: #216361;
        }

    }




    h1 {
        font-size: 65px;
        margin-top: 0px;
        margin-bottom: 2.5vh;
    }

    h2 {
        font-size: 35px;
        margin-bottom: 0px;
        margin-top: 18vh;
    }

    @media screen and (max-height: 760px) {
        h2 {
            margin-top: 8vh;
        }
    }
}