@import "./variables.scss";

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer
}

.comp-children-container-question {
    padding-inline: 3rem;

    .opacity-on{
        opacity: 0;
    }

    .main-OpeningForTheQuiz{
        transition: opacity 1s ease-in-out;
    }

    .main-check-for-name-for-flex{
        transition: opacity 1s ease-in-out;
    }

    .main-check-for-name {
        display: flex;
        align-items: center;
        // justify-content: center;
        flex-direction: column;

        .title-and-paragraph {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            opacity: 1;

            .quiz-title {
                font-size: 2vw;
                margin-top: 5.3vh;
                /* UI Properties */
                text-align: center;
                font-size: 2vw;
                letter-spacing: 0px;
                color: #0C3249;
                opacity: 1;
            }

            p {
                height: 1.6146vw;
                /* UI Properties */
                text-align: center;
                font-size: 1.4vw;
                letter-spacing: 0px;
                color: #0C3249;
                opacity: 1;
                margin-bottom: 1vw;
            }
        }

        input {
            margin-top: .5vw;
            margin-bottom: 3.2292vw;
            width: 18.0208vw;
            height: 6vh;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #0C3249;
            border-radius: .5208vw;
            opacity: 1;
            display: flex;
            justify-content: center;
            font-size: 1.2vw;
            padding-right: 0.5vw;
            text-align: right;
            letter-spacing: 0px;
            color: #0C3249;
            opacity: 0.7;
        }

        .check-for-name-button {
            @include flexCenter();
            width: 18.0208vw;
            height: 6vh;
            /* UI Properties */
            background: $green-color 0% 0% no-repeat padding-box;
            border-radius: .4167vw;
            opacity: 0.7;
            box-shadow: 0px .3vh 0px 0px #216361;
            border-color: $green-color;

            p {
                margin-left: 1vw;
                width: 12.5vw;
                height: 1.6146vw;
                text-align: left;
                font-size: 1.3vw;
                font-weight: 800;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
            }

            img {
                margin-left: 1vw;
                width: 1.3vw
            }
        }
    }

    .main-OpeningForTheQuiz {
        @include flexCenter();
        flex-direction: column;
        isolation: isolate;
        position: relative;
        text-align: center;

        /*TODO: figure this out! */
        .main-quiz-title {
            margin-top: 2vh;
        }

        .main-paragraph {
            width: 42.8125vw;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            opacity: 0.7;
            margin: auto;
        }

        .main-img {
            @include flexCenter();
            width: 64.3229vw;
            height: 55vh;
            object-fit: cover;
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 1;
            top: 5rem;
            z-index: -1;
            position: absolute;
        }
    }

    .main-button-place {
        @include flexCenter();

        .main-button-to-quiz {
            @include flexCenter();
            width: 15.625vw;
            height: 4.1667vw;
            /* UI Properties */
            background: $green-color 0% 0% no-repeat padding-box;
            border: 3px solid #FFFFFF;
            border-radius: .4167vw;
            opacity: 1;
            // z-index: 2;
            // margin-bottom: 1vh;

            img {
                width: 1.0938vw;
                height: 1.25vw;
                /* UI Properties */
                background: transparent 0% 0% no-repeat padding-box;
                opacity: 1;
            }

            span {
                width: 8.125vw;
                height: 1.6146vw;
                font-size: 1.25vw;
                font-weight: 700;
                /* UI Properties */
                text-align: center;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 600px) {

    .comp-children-container-question {
        @include flexCenter();
        align-items: flex-start;
        .question-main{
            @include flexCenter();
            flex-direction: column;

            .main-OpeningForTheQuiz {
                width: 80vw;
                height: 65vh;

                .main-img {
                    width: 70vw;
                    height: 35vw;
                    margin-bottom: 6vh;
                    position: static;
                }

                button {
                    @include flexCenter();
                    width: 70vw;
                    height: 18.134vw;
                    background-color: $green-color;
                    opacity: 100%;
                    border-radius: 12px;
                    box-shadow: 0px .5vh 0px 0px #216361;


                    p {
                        font-size: 5vw;
                        font-weight: 1000;
                        color: #FFFFFF;
                        opacity: 100%;
                        margin-left: 5vw;
                    }

                    img {
                        width: 6vw;
                        height: auto;
                    }
                }

                .main-paragraph {
                    width: 70vw;
                    text-align: center;
                    font-size: 4vw;
                    opacity: 100%;
                    margin-bottom: 5vw;
                }

                .main-quiz-title {
                    margin-top: 3vh;
                    margin-bottom: 3vh;
                    font-size: 6vw;
                }


                .left-corner-leaves {
                    border: 5px solid black;
                    margin-left: 0vw;
                    margin-bottom: 0vh;
                }
            }

            .main-button-place .main-button-to-quiz {
                width: 70vw;
                height: 4.5rem;
                margin-top: 20rem;

                span {
                    flex-basis: 70%;
                    width: 18.125vw;
                    height: auto;
                    font-size: 1.5rem;
                }

                img {
                    width: 5vw;
                    height: auto;
                }
            }

            .main-check-for-name-for-flex {
                .main-check-for-name {
                    input {
                        margin-top: 14vw;
                        margin-bottom: 10vw;
                        width: 31vw;
                        height: 10vw;
                        font-size: 4vw;
                    }

                    .check-for-name-button {
                        @include flexCenter();
                        width: 80vw;
                        height: 23.134vw;
                        background-color: $green-color;
                        opacity: 100%;
                        border-radius: 12px;
                        margin-top: 20vw;
                        box-shadow: 0px .5vh 0px 0px #216361;

                        p {
                            font-size: 6vw;
                            font-weight: 1000;
                            width: 60vw;
                            height: 8vw;
                            margin-left: 4vw;
                            margin-top: 7vw;
                        }
                        img {
                            margin-left: 8vw;
                            width: 6vw;
                            height: auto;
                        }
                    }

                    .title-and-paragraph {
                        height: 10vh;
                        width: 80vw;
                        margin-top: 19vh;
                        p {
                            width: 75vw;
                            height: 10vh;
                            font-size: 6vw;
                        }

                    }

                    input {
                        width: 80vw;
                        height: 7vh;
                        border-radius: 10px;
                        margin-top: 0vw;
                    }
                }
            }

            .opening-paragraph-title-footer {
                position: absolute;
                left: -70px;
                bottom: -60px;
            }

            .check-for-name-footer {
                position: absolute;
                left: -12vw;
                bottom: -11vw;

                img {
                    width: 30vw;
                }
            }
        }
    }

}