.fullPageShadow{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    opacity: 0.6;
}

.popupContainer {
    position: absolute;
    opacity: 1;
    background: white;
    top: 40vh;
    left: 30vw;
    text-align: right;
    height: 14vh;
    width: 40vw;
    border-radius: 10px;
    padding-right: 5vw;
    padding-bottom: 25vh;
    padding-top: 2vh;
    z-index: 101;
}

.popupConfirmBtnDiv{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 2vw;
   
    button {
        width: 8vw;
        border-radius: 15px;
        margin-right: 2vw;
    }
    a:hover{
        cursor: pointer;
    }
}