.question-img-div {
    position: relative;
    .full-screen{
        width: 100vw;
        height: 100vh;
        background-color: #000000;
    }
    .icon-div {
        position: absolute;
        background-color: #FFFFFF;
        border-radius: 50%;
        width: 20px !important;
        height: 20px !important;
        display: flex;
        align-items: center;
        justify-content: center;


        img {
            width: 75% !important;
            height: 75% !important;
        }
    }
}


@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-question-temp {
    /* direction: rtl; */
    top: 10.5rem;
    left: 18.75rem;
    width: 82.5rem;
    height: 49.375rem;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* background-color: black; */
    border: .25rem solid #0C3249;
    border-radius: .625rem;
    opacity: 1;

    #score-rectangle {
        background-color: #43776d;
        width: 82.5rem;
        height: 1rem;
    }

    .num-of-question-place {
        display: flex;
        justify-content: end;
        margin-bottom: -3rem;

        .num-of-question {
            width: 9.3125rem;
            height: 2.5625rem;
            color: white;
            background: #000000 0% 0% no-repeat padding-box;
            border-radius: 10px;
            opacity: 0.3;
            @include flexCenter();
            margin-top: 1rem;
            margin-left: 3rem;
        }
    }

    .question-place-father {
        margin-top: 2.5625rem;
        @include flexCenter();

        .question-img-place {
            display: flex;
            justify-content: center;

            #question-img {
                top: 13.75rem;
                left: 51.3125rem;
                width: 17.4375rem;
                height: 8.4375rem;

                background: transparent;
                /* url('img/images.png') 0% 0% no-repeat padding-box; */
                opacity: 1;
            }
        }

        #hr {
            margin-bottom: 1rem;
        }

        #question-title {
            width: 12.25rem;
            height: 1.9375rem;
            /* UI Properties */
            text-align: right;
            font: normal normal normal 26px/26px Rubik;
            // font-size: 26px;
            // line-height: 26px;
            letter-spacing: 0px;
            color: #0C3249;
            opacity: 1;
        }

        .button-place-one {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .ans-button-no-img {
                width: 40.75rem;
                height: 3.875rem;
                /* UI Properties */
                background: #0C32490A 0% 0% no-repeat padding-box;
                border-radius: 6.25rem;
                opacity: 1;
                /* padding: 3rem; */
                margin: .75rem;
                display: flex;
                align-items: center;
                border-color: transparent;
            }
        }

        .button-place-two {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 42rem;

            .ans-button-with-img {
                width: 19.375rem;
                height: 11.25rem;
                /* UI Properties */
                background: #2CC5A699 0% 0% no-repeat padding-box;
                border-radius: 30px;
                opacity: 1;
                margin: .75rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-color: transparent;

                p {
                    width: 11.875rem;
                    height: 2.5625rem;
                    /* UI Properties */
                    background: #FFFFFFE0 0% 0% no-repeat padding-box;
                    border-radius: 10px;
                    opacity: 1;
                    @include flexCenter();
                    margin-bottom: -2rem;
                    z-index: 1;
                }

                img {
                    width: 17.0625rem;
                    height: 8.25rem;
                    /* UI Properties */
                    background: transparent 0% 0% no-repeat padding-box;
                    /* background-color: #000000; */
                    opacity: 1;
                }
            }
        }

        #answer-button {
            text-align: right;
            margin-right: 1rem;
            font: normal normal normal 20px/24px Rubik;
            letter-spacing: 0px;
            color: #0C3249;
            opacity: 1;
        }
    }
}

@media screen and (max-width: 600px) {
  

    .main-question-temp {
        /* direction: rtl; */
        top: 10.5rem;
        left: 18.75rem;
        width: 45rem;
        height: 90rem;
        border: none;

        #question-img {
            margin-top: 6rem;
        }

        .question-place-father #question-title {
            font: normal normal normal 20px/20px Rubik;
            margin-top: 5rem;
            margin-bottom: 2rem;
            width: 30rem;
        }

        .question-place-father {
            #answer-button {
                font: normal normal normal 14px/16px Rubik
            }

            .button-place-one {
                margin-top: 5rem;
            }

            .button-place-two {
                margin-top: 5rem;
            }

            .question-img-place {
                #hr {
                    margin-top: 10rem;
                    margin-bottom: 3rem;
                }
            }
        }
    }

   
}