.main-QuastionTemp {
  /* direction: rtl; */
  top: 10.5rem;
  left: 18.75rem;
  width: 82.5rem;
  height: 49.375rem;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  /* background-color: black; */
  border: 0.25rem solid #0C3249;
  border-radius: 0.625rem;
  opacity: 1;
}
.main-QuastionTemp #score-rectangle {
  background-color: #43776d;
  width: 82.5rem;
  height: 1rem;
}
.main-QuastionTemp .numOfQuestion-place {
  display: flex;
  justify-content: end;
  margin-bottom: -3rem;
}
.main-QuastionTemp .numOfQuestion-place .numOfQuestion {
  width: 9.3125rem;
  height: 2.5625rem;
  color: white;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 3rem;
}
.main-QuastionTemp .question-place-father {
  margin-top: 2.5625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-QuastionTemp .question-place-father .question-img-place {
  display: flex;
  justify-content: center;
}
.main-QuastionTemp .question-place-father .question-img-place #question-img {
  top: 13.75rem;
  left: 51.3125rem;
  width: 17.4375rem;
  height: 8.4375rem;
  background: transparent;
  /* url('img/images.png') 0% 0% no-repeat padding-box; */
  opacity: 1;
}
.main-QuastionTemp .question-place-father #hr {
  margin-bottom: 1rem;
}
.main-QuastionTemp .question-place-father #questionTitle {
  width: 12.25rem;
  height: 1.9375rem;
  /* UI Properties */
  text-align: right;
  font: normal normal normal 26px/26px Rubik;
  letter-spacing: 0px;
  color: #0C3249;
  opacity: 1;
}
.main-QuastionTemp .question-place-father .button-place-one {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-QuastionTemp .question-place-father .button-place-one .ans-button-no-img {
  width: 40.75rem;
  height: 3.875rem;
  /* UI Properties */
  background: rgba(12, 50, 73, 0.0392156863) 0% 0% no-repeat padding-box;
  border-radius: 6.25rem;
  opacity: 1;
  /* padding: 3rem; */
  margin: 0.75rem;
  display: flex;
  align-items: center;
  border-color: transparent;
}
.main-QuastionTemp .question-place-father .button-place-two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 42rem;
}
.main-QuastionTemp .question-place-father .button-place-two .ans-button-with-img {
  width: 19.375rem;
  height: 11.25rem;
  /* UI Properties */
  background: rgba(44, 197, 166, 0.6) 0% 0% no-repeat padding-box;
  border-radius: 30px;
  opacity: 1;
  margin: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: transparent;
}
.main-QuastionTemp .question-place-father .button-place-two .ans-button-with-img p {
  width: 11.875rem;
  height: 2.5625rem;
  /* UI Properties */
  background: rgba(255, 255, 255, 0.8784313725) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -2rem;
  z-index: 1;
}
.main-QuastionTemp .question-place-father .button-place-two .ans-button-with-img img {
  width: 17.0625rem;
  height: 8.25rem;
  /* UI Properties */
  background: transparent 0% 0% no-repeat padding-box;
  /* background-color: #000000; */
  opacity: 1;
}
.main-QuastionTemp .question-place-father #answer-button {
  text-align: right;
  margin-right: 1rem;
  font: normal normal normal 20px/24px Rubik;
  letter-spacing: 0px;
  color: #0C3249;
  opacity: 1;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 6px;
  }
  .main-QuastionTemp {
    /* direction: rtl; */
    top: 10.5rem;
    left: 18.75rem;
    width: 45rem;
    height: 90rem;
    border: none;
  }
  .main-QuastionTemp #question-img {
    margin-top: 6rem;
  }
  .main-QuastionTemp .question-place-father #questionTitle {
    font: normal normal normal 20px/20px Rubik;
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 30rem;
  }
  .main-QuastionTemp .question-place-father #answer-button {
    font: normal normal normal 14px/16px Rubik;
  }
  .main-QuastionTemp .question-place-father .button-place-one {
    margin-top: 5rem;
  }
  .main-QuastionTemp .question-place-father .button-place-two {
    margin-top: 5rem;
  }
  .main-QuastionTemp .question-place-father .question-img-place #hr {
    margin-top: 10rem;
    margin-bottom: 3rem;
  }
}/*# sourceMappingURL=QuastionTemp.css.map */