@import "./variables.scss";

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-for-name-footer {
    position: absolute;
    left: -12vw;
    bottom: -11vw;

    img {
        width: 30vw;
    }
}

.question-temp {
    overflow: hidden;

    .main-question-temp {
        width: 100%;
        height: 100%;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;

        .score-rectangle {
            background-color: #43776d;
            width: 10vw;
            height: 1vh;
            transition: width 1s;
        }

        .num-of-question-place {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 2vh;

            .num-of-question {
                width: 15%;
                height: 6vh;
                color: white;
                background: rgba(0, 0, 0, 0.3);
                border-radius: 10px;

                @include flexCenter();
                margin-top: 1vh;
                margin-left: 1vw;

                p {
                    font-size: 1rem;
                }
            }
        }

        .question-content {
            height: 70%;
            @include flexCenter();

            .question-place-father {
                height: 100%;
                width: 70%;
                @include flexCenter();

                .question-place-child {
                    width: 100%;

                    .question-img-place {
                        display: flex;
                        justify-content: center;

                        .question-img {

                            width: 15vw;
                            height: 10vh;
                            background: transparent;
                            opacity: 1;
                        }
                    }

                    #hr {
                        margin-bottom: 1rem;
                        width: 85%;
                        background-color: $green-color; //unique color
                    }

                    #question-title {
                        padding-right: 8%;
                        padding-top: 1.5vh;
                        width: 80%;
                        height: 5vh;
                        text-align: right;
                        font-size: 0.9rem;
                        font-weight: lighter;
                        letter-spacing: 0px;
                        color: #0C3249;
                        opacity: 1;
                    }

                    .button-place-one {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;

                        .ans-button-no-img {
                            width: 100%;
                            height: 8vh;
                            /* UI Properties */
                            background: #0C32490A 0% 0% no-repeat padding-box;
                            border-radius: 6.25rem;
                            opacity: 1;
                            margin: .4rem;
                            display: flex;
                            align-items: center;
                            border-color: transparent;

                        }
                    }

                    .ans-button-no-img,
                    .ans-button-with-img {
                        transition: background-color 0.5s ease-out;
                    }

                    .button-place-two {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        flex-wrap: wrap;
                        width: 100%;
                        height: 100%;
                        position: relative;

                        .ans-button-no-img.red-background-for-answer,
                        .ans-button-with-img.red-background-for-answer {
                            background-color: #F28787;
                        }

                        .ans-button-no-img.green-background-for-answer,
                        .ans-button-with-img.green-background-for-answer {
                            background-color: #80DCC9;
                        }

                        .ans-button-with-img {
                            width: 20vw;
                            height: 20vh;
                            /* UI Properties */
                            border-radius: 30px;
                            opacity: 1;
                            margin: 0.3rem;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            border-color: transparent;
                            position: relative;

                            .image-container {
                                position: relative;
                                width: 100%;
                                height: 100%;
                                overflow: hidden;

                                .icon-div {
                                    @include flexCenter();
                                    position: absolute;
                                    top: 16vh;
                                    right: 28vw;
                                    background-color: #ffffffbf;
                                    border-radius: 50%;
                                    width: 6vw;
                                    height: 6vw;
                                    z-index: 1;

                                    img {
                                        width: 85%;
                                        height: 85%;
                                    }
                                }

                                .question-img-div {
                                    @include flexCenter();
                                    border: none;
                                    width: 100%;
                                    transition: 1s ease-out;
                                    height: 100%;
                                    padding-block: 5%;

                                    img {
                                        width: 80%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }

                                .question-img-div.full-screen {
                                    @include flexCenter();
                                    position: fixed;
                                    top: 0px;
                                    left: 0px;
                                    right: 0px;
                                    bottom: 0px;
                                    width: 100%;
                                    height: 100%;
                                    z-index: 3;
                                    background-color: #000000;
                                    transition: 1s ease-out;
                                    margin: 0;

                                    img {
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                            }

                            p {
                                position: absolute;
                                top: -5%;
                                right: calc(50% - 32.5%);
                                width: 65%;
                                height: 20%;
                                font-size: 0.8rem;
                                border-radius: 7px;
                                opacity: 1;
                                @include flexCenter();
                                margin-bottom: -2rem;
                                z-index: 1;
                            }
                        }
                    }


                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    :root {
        font-size: 1rem;
    }

    html {
        font-size: 6px;
    }

    #hr {
        width: 100%;
        text-align: center;
    }

    .question-img-div {
        img {
            width: 90%;
            margin-top: 4vh;
        }
    }

    .question-temp {
        .main-question-temp {
            border: none;
            overflow: hidden;

            .num-of-question-place {

                width: 30%;
                top: 11%;
                // bottom: 5%;
                right: 15%;
                position: absolute;
                margin-bottom: 10vh;

                .num-of-question {
                    width: 100%;
                    height: 4vh;
                }
            }

            .question-content {
                #question-img {
                    margin-top: 6rem;
                }

                .question-place-father #question-title {
                    margin-top: 5rem;
                    margin-bottom: 2rem;
                    width: 30rem;
                }

                .question-place-father {
                    width: 85%;

                    .question-place-child {

                        .button-place-one {
                            margin-top: 5rem;
                        }

                        .button-place-two {
                            margin-top: 5rem;


                        }

                        .question-img-place {
                            margin: 4vh;

                            #hr {
                                margin-top: 10rem;
                                margin-bottom: 3rem;
                                height: 1px;
                                background-color: #43776d;
                                border: none;
                            }

                            .question-img {
                                width: 90%;
                                height: 20vh;
                                margin-top: 20vh;
                            }
                        }

                        #question-title {
                            font-size: 5vw;
                            padding-top: 0vh;
                            padding-right: 0%;
                            margin: 0vh 3vh 3vh 3vh;
                        }

                        .button-place-one {
                            margin: 0;
                        }

                        .button-place-two {
                            margin: 0;
                            .ans-div{
                                margin: 2vw;
                            }
                            .ans-button-with-img {
                                width: 38vw;
                                height: 17vh;
                                margin: 0;

                                .answer-button {
                                    p {
                                        background-color: transparent;
                                        text-align: right;
                                        top: -2%;
                                        right: 10%;
                                        font-size: 4vw;
                                        letter-spacing: 0px;
                                        color: #0C3249;
                                        opacity: 1;
                                    }
                                }

                                .image-container {
                                    .question-img-div{
                                        height: 75%;
                                        margin-top: 10%;
                                    }
                                    .icon-div {
                                        position: absolute;
                                        top: 11vh;
                                        right: 23vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}