:root {
    font-size: 16px;
}


.score-card {
    margin: 4vw;
    padding: .1vw;
    width: 70%;
    
    h5 {
        margin: 1vh 0;
    }
    
    
    table {
        th {
            font-weight: 700;
            border: none;
            text-align: right;
            padding: .5rem;
        }
        
        td {
            border: none;
            text-align: right;
            padding: .5rem;
            
            img {
                max-height: 14px;
            }
        }
        
    }
}


@media (max-width: 600px) {
    :root {
        font-size: 4vw;
    }

    .score-card-container {
        width: 100%;
        display: flex;
        justify-content: center;

        .score-card {
            flex: 1;
            width: 100%;
            margin: 1vw ;
        }
    }

    h6 {
        display: none;
    }
}