.score-card-container::-webkit-scrollbar {
    width: 0; //!important
}

.score-card-container {
    overflow-y: auto;

    .score-card {
        margin: 3vw 4vw;
        padding: .1vw;
        width: 70%;

        .bolder {
            font-weight: 1000;
        }

        .bold {
            font-weight: 800;
        }

        .h2 {
            margin-bottom: 1vh;
            font-weight: 900;
        }

        .h3 {
            font-weight: 900;
            margin-bottom: 2vh;
        }

        table {
            th {
                font-weight: 1000;
                border: none;
                text-align: right;
                padding: .5rem;
            }

            td {
                border: none;
                text-align: right;
                padding: .5rem;
                font-weight: 200;

                img {
                    max-height: 14px;
                }
            }
        }
    }
}





.phone-score-card-container {
    overflow-y: auto;
    width: 100%;
    display: flex;
    justify-content: center;

    .bolder {
        font-weight: 1000;
    }

    .bold {
        font-weight: 800;
    }

    .h2 {
        margin-bottom: 2vh;
        font-weight: 1000;
        font-size: 16px;
        margin-top: 3vh;
    }

    table {
        th {
            font-weight: 1000;
            border: none;
            text-align: right;
            padding: .5rem;
        }

        td {
            border: none;
            text-align: right;
            padding: .5rem;
            font-weight: 200;

            img {
                max-height: 14px;
            }
        }

        .score-card {
            flex: 1;
            width: 100%;
            margin: 1vw;
        }
    }
}